[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
flask-script = "*"
requests = "*"
gunicorn = "*"
pytest = "*"
flake8 = "*"
yapf = "*"
pytest-docker-compose = "*"
flask = "==1.1.4"

[requires]
python_version = "3.6"